aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
appdirs
attrs
backoff
bcrypt
build
cel-python
certifi
cffi
charset-normalizer
chromadb
click
colorama
crewai
crewai-cli
crewai-core
cryptography
deprecation
distro
docstring_parser
durationpy
et_xmlfile
fastapi
filelock
flatbuffers
frozenlist
fsspec
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-re2
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
hf-xet
httpcore
httptools
httpx
httpx-sse
huggingface_hub
idna
importlib_resources
instructor
Jinja2
jiter
jmespath
json_repair
json5
jsonref
jsonschema
jsonschema-specifications
kubernetes
lance-namespace
lance-namespace-urllib3-client
lancedb
lark
linkify-it-py
markdown-it-py
MarkupSafe
mcp
mdit-py-plugins
mdurl
mmh3
multidict
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
pdfminer.six
pdfplumber
pendulum
pillow
pip
platformdirs
portalocker
posthog
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
PyJWT
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-multipart
pywin32
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
shellingham
six
sniffio
SQLAlchemy
sse-starlette
starlette
tenacity
textual
tokenizers
tomli
tomli_w
tqdm
typer
typing_extensions
typing-inspection
tzdata
uc-micro-py
urllib3
uv
uvicorn
watchfiles
websocket-client
websockets
yarl
anthropic
